{
  "openapi": "3.0.3",
  "info": {
    "title": "Raindrop.io REST API (Community OpenAPI)",
    "version": "1.0.3",
    "description": "Community-maintained OpenAPI spec for Raindrop.io (auth, users, collections, raindrops, tags, filters, import/export, backups)."
  },
  "servers": [
    {
      "url": "https://api.raindrop.io/rest/v1",
      "description": "REST v1 base"
    },
    {
      "url": "https://raindrop.io",
      "description": "OAuth endpoints host"
    }
  ],
  "security": [
    {
      "OAuth2": ["read", "write"]
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "tags": ["auth"],
        "summary": "Authorize",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["code"]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/oauth/access_token": {
      "post": {
        "tags": ["auth"],
        "summary": "Token exchange / refresh",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TokenExchangeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/TokenRefreshRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": ["user"],
        "summary": "Get authenticated user",
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["user"],
        "summary": "Update user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{name}": {
      "get": {
        "tags": ["user"],
        "summary": "Get public user",
        "security": [],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": ["collections"],
        "summary": "Get root collections",
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["collections"],
        "summary": "Reorder or expand/collapse all",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CollectionsReorderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CollectionsExpandCollapseRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Remove multiple collections",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionsRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/collections/childrens": {
      "get": {
        "tags": ["collections"],
        "summary": "Get child collections",
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/merge": {
      "put": {
        "tags": ["collections"],
        "summary": "Merge collections",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionsMergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/collections/clean": {
      "put": {
        "tags": ["collections"],
        "summary": "Remove all empty collections",
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsCleanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collection": {
      "post": {
        "tags": ["collections"],
        "summary": "Create collection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{id}": {
      "get": {
        "tags": ["collections"],
        "summary": "Get collection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["collections"],
        "summary": "Update collection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["collections"],
        "summary": "Remove collection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{id}/cover": {
      "put": {
        "tags": ["collections"],
        "summary": "Upload collection cover",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cover": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["cover"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collection/-99": {
      "delete": {
        "tags": ["collections"],
        "summary": "Empty Trash",
        "responses": {
          "200": {
            "description": "Emptied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop": {
      "post": {
        "tags": ["raindrops"],
        "summary": "Create raindrop",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RaindropCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop/{id}": {
      "get": {
        "tags": ["raindrops"],
        "summary": "Get raindrop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropItemResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["raindrops"],
        "summary": "Update raindrop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RaindropUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropItemResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["raindrops"],
        "summary": "Delete raindrop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop/{id}/cover": {
      "put": {
        "tags": ["raindrops"],
        "summary": "Upload raindrop cover",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cover": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["cover"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop/file": {
      "put": {
        "tags": ["raindrops"],
        "summary": "Upload file as raindrop",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "collectionId": {
                    "type": "integer"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop/{id}/cache": {
      "get": {
        "tags": ["raindrops"],
        "summary": "Get permanent copy (redirect)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect"
          }
        }
      }
    },
    "/raindrop/suggest": {
      "post": {
        "tags": ["raindrops"],
        "summary": "Suggest for new bookmark",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": ["link"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponseNew"
                }
              }
            }
          }
        }
      }
    },
    "/raindrop/{id}/suggest": {
      "get": {
        "tags": ["raindrops"],
        "summary": "Suggest for existing bookmark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponseNew"
                }
              }
            }
          }
        }
      }
    },
    "/raindrops": {
      "post": {
        "tags": ["raindrops"],
        "summary": "Batch create raindrops (≤100)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RaindropCreate"
                    },
                    "maxItems": 100
                  }
                },
                "required": ["items"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropsBatchWriteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/raindrops/{collectionId}": {
      "get": {
        "tags": ["raindrops"],
        "summary": "List raindrops by collection (0/-1/-99 ok)",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "-created",
                "created",
                "score",
                "-sort",
                "title",
                "-title",
                "domain",
                "-domain"
              ]
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nested",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropsListResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["raindrops"],
        "summary": "Batch update raindrops",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "nested",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RaindropsBatchUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["raindrops"],
        "summary": "Batch delete (to Trash; -99 = purge)",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nested",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaindropsBatchDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": ["tags"],
        "summary": "List tags (all collections)",
        "responses": {
          "200": {
            "description": "Tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{collectionId}": {
      "get": {
        "tags": ["tags"],
        "summary": "List tags by collection",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsListResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["tags"],
        "summary": "Rename / merge tags",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsMergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["tags"],
        "summary": "Remove tag(s)",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResult"
                }
              }
            }
          }
        }
      }
    },
    "/filters/{collectionId}": {
      "get": {
        "tags": ["filters"],
        "summary": "Get filters for collection or all (0)",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagsSort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["-count", "_id"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiltersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/import/url/parse": {
      "get": {
        "tags": ["import"],
        "summary": "Parse metadata from URL",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parsed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/raindrops/{collectionId}/export.{format}": {
      "get": {
        "tags": ["export"],
        "summary": "Export raindrops",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["csv", "html", "zip"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "-created",
                "created",
                "score",
                "-sort",
                "title",
                "-title",
                "domain",
                "-domain"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stream"
          }
        }
      }
    },
    "/backups": {
      "get": {
        "tags": ["backups"],
        "summary": "List backups",
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/backup": {
      "get": {
        "tags": ["backups"],
        "summary": "Generate new backup",
        "responses": {
          "200": {
            "description": "Queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupGenerateResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://raindrop.io/oauth/authorize",
            "tokenUrl": "https://raindrop.io/oauth/access_token",
            "scopes": {
              "read": "Read access",
              "write": "Write access"
            }
          }
        }
      }
    },
    "schemas": {
      "GenericResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          }
        },
        "required": ["result"]
      },
      "TokenExchangeRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["authorization_code"]
          },
          "code": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "grant_type",
          "code",
          "client_id",
          "client_secret",
          "redirect_uri"
        ]
      },
      "TokenRefreshRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["refresh_token"]
          },
          "refresh_token": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          }
        },
        "required": [
          "grant_type",
          "refresh_token",
          "client_id",
          "client_secret"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        },
        "required": ["access_token", "token_type"]
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "email_MD5": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "pro": {
            "type": "boolean"
          },
          "registered": {
            "type": "string",
            "format": "date-time"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "groups": {
            "type": "array",
            "description": "Collection groups visible in sidebar. Each group contains a title and an ordered list of root collection IDs.",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Name of the group (e.g. \"Home\", \"Work\")"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "Whether the group is collapsed in the sidebar"
                },
                "sort": {
                  "type": "integer",
                  "description": "Ascending order position of the group"
                },
                "collections": {
                  "type": "array",
                  "description": "Ordered list of root collection IDs belonging to this group",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UserPublicResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "additionalProperties": true
      },
      "UserStatsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "integer"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pro": {
                "type": "boolean"
              },
              "_id": {
                "type": "integer"
              },
              "changedBookmarksDate": {
                "type": "string",
                "format": "date-time"
              },
              "duplicates": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  }
                }
              },
              "broken": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "result": {
            "type": "boolean"
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer"
          },
          "access": {
            "type": "object",
            "additionalProperties": true
          },
          "color": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "cover": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "expanded": {
            "type": "boolean"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "parent": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "public": {
            "type": "boolean"
          },
          "sort": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "view": {
            "type": "string"
          }
        }
      },
      "CollectionsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        }
      },
      "CollectionItemResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "item": {
            "$ref": "#/components/schemas/Collection"
          }
        }
      },
      "CollectionCreate": {
        "type": "object",
        "properties": {
          "view": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "public": {
            "type": "boolean"
          },
          "parent": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "cover": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["title"]
      },
      "CollectionUpdate": {
        "type": "object",
        "properties": {
          "expanded": {
            "type": "boolean"
          },
          "view": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "public": {
            "type": "boolean"
          },
          "parent": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "cover": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CollectionsMergeRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "number"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        },
        "required": ["to", "ids"]
      },
      "CollectionsReorderRequest": {
        "type": "object",
        "properties": {
          "sort": {
            "type": "string",
            "enum": ["title", "-title", "-count"]
          }
        },
        "required": ["sort"]
      },
      "CollectionsExpandCollapseRequest": {
        "type": "object",
        "properties": {
          "expanded": {
            "type": "boolean"
          }
        },
        "required": ["expanded"]
      },
      "CollectionsRemoveRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["ids"]
      },
      "CollectionsCleanResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Raindrop": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer"
          },
          "collection": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "cover": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": ["link", "article", "image", "video", "document", "audio"]
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "note": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                }
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "RaindropItemResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "item": {
            "$ref": "#/components/schemas/Raindrop"
          }
        }
      },
      "RaindropsListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Raindrop"
            }
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "RaindropCreate": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "collection": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "collectionId": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pleaseParse": {
            "type": "object"
          },
          "created": {
            "type": "string"
          },
          "lastUpdate": {
            "type": "string"
          },
          "order": {
            "type": "number"
          },
          "important": {
            "type": "boolean"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cover": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["link", "article", "image", "video", "document", "audio"]
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "reminder": {
            "type": "object"
          }
        },
        "required": ["link"]
      },
      "RaindropUpdate": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string"
          },
          "lastUpdate": {
            "type": "string"
          },
          "pleaseParse": {
            "type": "object"
          },
          "order": {
            "type": "number"
          },
          "important": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cover": {
            "type": "string"
          },
          "collection": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": ["link", "article", "image", "video", "document", "audio"]
          },
          "excerpt": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "reminder": {
            "type": "object"
          }
        }
      },
      "RaindropsBatchWriteResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Raindrop"
            }
          }
        }
      },
      "RaindropsBatchUpdateRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "important": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cover": {
            "type": "string"
          },
          "collection": {
            "type": "object",
            "properties": {
              "$id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RaindropsBatchDeleteResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "modified": {
            "type": "integer"
          }
        }
      },
      "SuggestResponseNew": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "item": {
            "type": "object",
            "properties": {
              "collections": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "$id": {
                      "type": "integer"
                    }
                  }
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TagsListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "TagsMergeRequest": {
        "type": "object",
        "properties": {
          "replace": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["replace", "tags"]
      },
      "TagsRemoveRequest": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["tags"]
      },
      "FiltersResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "broken": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "duplicates": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "important": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "notag": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "BackupGenerateResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Backup": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "BackupsListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Backup"
            }
          }
        }
      }
    }
  }
}
